[mysqld]
character_set_server=utf8mb4 
collation-server=utf8mb4_unicode_ci 
init_connect='SET NAMES utf8mb4' 
skip-character-set-client-handshake=true
max_allowed_packet=2097152000

lower_case_table_names=1

slow_query_log = 1
long_query_time = 2
slow_query_log_file = /var/mysql/slow_query.log

max_connections=20